html
  head
    title index
    style
      #stock{
        margin:200 auto;
        width:800px;
        height:500px;
      }
  body
    #stock
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/lib/jquery.js')
    script(src='/static/js/lib/raphael.js')
    script(src='/static/js/lib/underscore.js')
    script(src='/static/js/stockChart.js')
    script
      var socket = io.connect('http://127.0.0.1:4444');
      socket.on('news', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
      });

      var chart1=new SNB.stockChart({container:"stock"});

