html
  head
    title index
    style
      .container{
        margin:10 auto;
        width:800px;
        height:350px;
      }
      #select{
        margin:20 200;
        overflow:hidden;

      }
      #select li{
        float:left;
        border:1px solid #f2f2f2;
        padding:3px 5px;
        cursor:pointer;
      }
      #select li.selected{
        background:#f1f1f1;
      }
      #cutSVG{
        margin:auto;
        border:1px solid black;
        background:#f1f1f1;
        width:40px;
        cursor:pointer;
      }
  body
    ul#select
      li#1d.selected 1d
      li#5d 5d
      li#1m 1m
      li#3m 3m
      li#6m 6m
      li#1y 1y
      li#3y 3y
      li#5y 5y
      li#10y 10y
      li#30d 30d
    #stock.container
    #cutSVG 截图
    #stock1.container
    #stock2.container
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/lib/jquery.js')
    script(src='/static/js/lib/jquery.mousewheel.js')
    script(src='/static/js/lib/raphael.js')
    script(src='/static/js/lib/underscore.js')
    script(src='/static/js/stockChartNew.js')
    script

      var chart1=new SNB.stockChart({container:"stock",symbol:"BIDU"});
      //var chart2=new SNB.stockChart({container:"stock1",symbol:"SH600768"});
      //var chart3=new SNB.stockChart({container:"stock2",symbol:"03888"});
      $(function(){
        $("#select li").click(function(){
          $("#select li").removeClass("selected");
          $(this).addClass("selected");
          $("#stock").html("");
          var chart=new SNB.stockChart({container:"stock",period:this.id,symbol:chart1.options.symbol});
        })
        $("#cutSVG").click(function(){
          var html=$("#stock").html();
          $.post("/toPng",{html:html},function(ret){
            console.log(ret);
          })
        })

        var paper=new Raphael("stock1",200,200);
        var x=20,dx;
        var circle=paper.circle(x,20,10).attr({fill:"red"}).drag(function(dx,dy){
          circle.animate({cx:x+dx})
          console.log(dx,dy);
        })
      })

