html
  head
    title index
    style
      .container{
        margin:10 auto;
        width:800px;
        height:350px;
      }
      .selectTime{
        overflow:hidden;
        position:absolute;
        font-size:10px;
        width:567px;
        margin:5px 0px;
      }
      #select{
        overflow:hidden;
        float:left;
        margin:0px 0px;
        padding:0px 0px;
      }
      #select li{
        float:left;
        border:1px solid #f2f2f2;
        padding:3px 5px;
        cursor:pointer;
      }
      #select li.selected{
        background:#f1f1f1;
      }
      .selectTime #timeInterval{
        float:right;
      }
      .selectTime #timeInterval input{
        width:80px;
        height:20px;
      }
      #cutSVG{
        margin:auto;
        border:1px solid black;
        background:#f1f1f1;
        width:40px;
        cursor:pointer;
      }
  body
    #stock.container
    #cutSVG 截图
    #stock1.container
    #stock2.container
    script(src='/socket.io/socket.io.js')
    script(src='/static/js/lib/jquery.js')
    script(src='/static/js/lib/jquery.mousewheel.js')
    script(src='/static/js/lib/raphael.js')
    script(src='/static/js/lib/underscore.js')
    script(src='/static/js/stockChartNew.js')
    script

      var chart1=new SNB.stockChart({container:"stock",symbol:"GOOG"});
      //var chart2=new SNB.stockChart({container:"stock1",symbol:"SH600768"});
      //var chart3=new SNB.stockChart({container:"stock2",symbol:"03888"});
      $(function(){
        $("#select li").live("click",function(){
          $("#select li").removeClass("selected");
          $(this).addClass("selected");
          $("#stock").html("");
          var chart=new SNB.stockChart({container:"stock",period:this.id,symbol:chart1.options.symbol});
        })

      })

